*{
    margin:0;
    padding:0;
}

body{
    background-color:rgb(78, 75, 75);
    font-family:'Roboto',sans-serif;
    color:rgb(13, 13, 14)
}
.hp{
    max-width:1000px;
    background-color: #E4F9F5;
    margin:0 auto;

}
.image{
    width:100px;
    height:120px;
    border:0.5rem solid white;
    border-radius:50%;
    float:left;
}
.header-bio{
    float:left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999E ;
}
.header-contact{
    float:right;
    padding:30px;
}
.header-contact a{
    text-decoration: none;
    color:teal;
    font-weight:bold;

}
.header-contact a:hover{
    text-decoration:underline;
    color:tomato;
}
.div-clear{
    clear:both;

}
hr{
    border:solid black 3px;
    width:100%;
    margin:20px auto;
    border-bottom:none; 
}
/*------------------
personal ection start
-------------------*/

.common-hr{
  
}
.containt{

}
.left-div{
    width:30%;
    float:left;
}
.right-div{
    width:70%;
    float:right;
}
.common-hr{
    border:solid black 1px;
    border-bottom:none;
    width:100%;
    margin:0 auto;
}
.common hr{
    border: solid black 1.5rem;
    border-bottom:none;
    width:100%;
    margin:20px;
}
.edu-template-left{
    float:left;
    width: 45%;
    
}
.edu-template-right{
    float:right;
    width:25%;
    
}
.bottom-contaner{
    background-color: black;
    text-align: center;

}
.bottom-contaner a{
    color:mediumblue;
    text-decoration: none;
    margin: 20px;;
}
.bottom-contaner p{
    color:#11999E;
    margin-top: 20px;
    text-align: right;
}